# Case Study  - Titanic Survival

# Feature Extraction

Here we will talk about an important piece of machine learning: the extraction of
quantitative features from data.  By the end of this section you will

- Know how features are extracted from real-world data.
- See an example of extracting numerical features from textual data

In addition, we will go over several basic tools within scikit-learn which can be used to accomplish the above tasks.

## What Are Features?

### Numerical Features

Recall that data in scikit-learn is expected to be in two-dimensional arrays, of size
**n_samples** $\times$ **n_features**.

Previously, we looked at the iris dataset, which has 150 samples and 4 features

In [21]:
from sklearn.datasets import load_iris

iris = load_iris()
print(iris.data.shape)

(150, 4)

These features are:

- sepal length in cm
- sepal width in cm
- petal length in cm
- petal width in cm

Numerical features such as these are pretty straightforward: each sample contains a list
of floating-point numbers corresponding to the features

### Categorical Features

What if you have categorical features?  For example, imagine there is data on the color of each
iris:

    color in [red, blue, purple]

You might be tempted to assign numbers to these features, i.e. *red=1, blue=2, purple=3*
but in general **this is a bad idea**.  Estimators tend to operate under the assumption that
numerical features lie on some continuous scale, so, for example, 1 and 2 are more alike
than 1 and 3, and this is often not the case for categorical features.

In fact, the example above is a subcategory of "categorical" features, namely, "nominal" features. Nominal features don't imply an order, whereas "ordinal" features are categorical features that do imply an order. An example of ordinal features would be T-shirt sizes, e.g., XL > L > M > S. 

One work-around for parsing nominal features into a format that prevents the classification algorithm from asserting an order is the so-called one-hot encoding representation. Here, we give each category its own dimension.  

The enriched iris feature set would hence be in this case:

- sepal length in cm
- sepal width in cm
- petal length in cm
- petal width in cm
- color=purple (1.0 or 0.0)
- color=blue (1.0 or 0.0)
- color=red (1.0 or 0.0)

Note that using many of these categorical features may result in data which is better
represented as a **sparse matrix**, as we'll see with the text classification example
below.

### Derived Features

Another common feature type are **derived features**, where some pre-processing step is
applied to the data to generate features that are somehow more informative.  Derived
features may be based in **feature extraction** and **dimensionality reduction** (such as PCA or manifold learning),
may be linear or nonlinear combinations of features (such as in polynomial regression),
or may be some more sophisticated transform of the features.

### Combining Numerical and Categorical Features

As an example of how to work with both categorical and numerical data, we will perform survival predicition for the passengers of the HMS Titanic.

In [1]:
import os
import pandas as pd
titanic = pd.read_csv('../input/train.csv')
print(titanic.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Here is a broad description of the keys and what they mean:

```
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
survival        Survival
                (0 = No; 1 = Yes)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)
boat            Lifeboat
body            Body Identification Number
home.dest       Home/Destination
```

In general, it looks like `name`, `sex`, `cabin`, `embarked`, `boat`, `body`, and `homedest` may be candidates for categorical features, while the rest appear to be numerical features. We can also look at the first couple of rows in the dataset to get a better understanding:

In [23]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We clearly want to discard the "boat" and "body" columns for any classification into survived vs not survived as they already contain this information. The name is unique to each person (probably) and also non-informative. For a first try, we will use "pclass", "sibsp", "parch", "fare" and "embarked" as our features:

In [24]:
labels = titanic.Survived.values
features = titanic[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [10]:
features.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

The data now contains only useful features, but they are not in a format that the machine learning algorithms can understand. We need to transform the strings "male" and "female" into binary variables that indicate the gender, and similarly for "embarked".
We can do that using the pandas ``get_dummies`` function:

In [26]:
featuremodel=pd.get_dummies(features)
featuremodel

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1
5,3,NaN,0,0,8.4583,0,1,0,1,0
6,1,54.0,0,0,51.8625,0,1,0,0,1
7,3,2.0,3,1,21.0750,0,1,0,0,1
8,3,27.0,0,2,11.1333,1,0,0,0,1
9,2,14.0,1,0,30.0708,1,0,1,0,0
10,3,4.0,1,1,16.7000,1,0,0,0,1
11,1,58.0,0,0,26.5500,1,0,0,0,1
12,3,20.0,0,0,8.0500,0,1,0,0,1
13,3,39.0,1,5,31.2750,0,1,0,0,1
14,3,14.0,0,0,7.8542,1,0,0,0,1
15,2,55.0,0,0,16.0000,1,0,0,0,1
16,3,2.0,4,1,29.1250,0,1,0,1,0
17,2,NaN,0,0,13.0000,0,1,0,0,1
18,3,31.0,1,0,18.0000,1,0,0,0,1
19,3,NaN,0,0,7.2250,1,0,1,0,0
20,2,35.0,0,0,26.0000,0,1,0,0,1
21,2,34.0,0,0,13.0000,0,1,0,0,1
22,3,15.0,0,0,8.0292,1,0,0,1,0
23,1,28.0,0,0,35.5000,0,1,0,0,1
24,3,8.0,3,1,21.0750,1,0,0,0,1
25,3,38.0,1,5,31.3875,1,0,0,0,1
26,3,NaN,0,0,7.2250,0,1,1,0,0
27,1,19.0,3,2,263.0000,0,1,0,0,1
28,3,NaN,0,0,7.8792,1,0,0,1,0
29,3,NaN,0,0,7.8958,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
861,2,21.0,1,0,11.5000,0,1,0,0,1
862,1,48.0,0,0,25.9292,1,0,0,0,1
863,3,NaN,8,2,69.5500,1,0,0,0,1
864,2,24.0,0,0,13.0000,0,1,0,0,1
865,2,42.0,0,0,13.0000,1,0,0,0,1
866,2,27.0,1,0,13.8583,1,0,1,0,0
867,1,31.0,0,0,50.4958,0,1,0,0,1
868,3,NaN,0,0,9.5000,0,1,0,0,1
869,3,4.0,1,1,11.1333,0,1,0,0,1
870,3,26.0,0,0,7.8958,0,1,0,0,1
871,1,47.0,1,1,52.5542,1,0,0,0,1
872,1,33.0,0,0,5.0000,0,1,0,0,1
873,3,47.0,0,0,9.0000,0,1,0,0,1
874,2,28.0,1,0,24.0000,1,0,1,0,0
875,3,15.0,0,0,7.2250,1,0,1,0,0
876,3,20.0,0,0,9.8458,0,1,0,0,1
877,3,19.0,0,0,7.8958,0,1,0,0,1
878,3,NaN,0,0,7.8958,0,1,0,0,1
879,1,56.0,0,1,83.1583,1,0,1,0,0
880,2,25.0,0,1,26.0000,1,0,0,0,1
881,3,33.0,0,0,7.8958,0,1,0,0,1
882,3,22.0,0,0,10.5167,1,0,0,0,1
883,2,28.0,0,0,10.5000,0,1,0,0,1
884,3,25.0,0,0,7.0500,0,1,0,0,1
885,3,39.0,0,5,29.1250,1,0,0,1,0
886,2,27.0,0,0,13.0000,0,1,0,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,1
888,3,NaN,1,2,23.4500,1,0,0,0,1
889,1,26.0,0,0,30.0000,0,1,1,0,0
890,3,32.0,0,0,7.7500,0,1,0,1,0

Notice that this includes N dummy variables.  When we are modeling we will need N-1 categorical variables.

In [19]:
pd.get_dummies(features, drop_first=True).head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500         1           0           1
1       1  38.0      1      0  71.2833         0           0           0
2       3  26.0      0      0   7.9250         0           0           1
3       1  35.0      1      0  53.1000         0           0           1
4       3  35.0      0      0   8.0500         1           0           1

This transformation successfully encoded the string columns. However, one might argue that the class is also a categorical variable. We can explicitly list the columns to encode using the ``columns`` parameter, and include ``pclass``:

In [28]:
features_dummies = pd.get_dummies(features, columns=['Pclass', 'Sex', 'Embarked'], drop_first=True)
features_dummies.head(n=16)

,Age,SibSp,Parch,Fare,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,1,1,0,1
1,38.0,1,0,71.2833,0,0,0,0,0
2,26.0,0,0,7.9250,0,1,0,0,1
3,35.0,1,0,53.1000,0,0,0,0,1
4,35.0,0,0,8.0500,0,1,1,0,1
5,NaN,0,0,8.4583,0,1,1,1,0
6,54.0,0,0,51.8625,0,0,1,0,1
7,2.0,3,1,21.0750,0,1,1,0,1
8,27.0,0,2,11.1333,0,1,0,0,1
9,14.0,1,0,30.0708,1,0,0,0,0
10,4.0,1,1,16.7000,0,1,0,0,1
11,58.0,0,0,26.5500,0,0,0,0,1
12,20.0,0,0,8.0500,0,1,1,0,1
13,39.0,1,5,31.2750,0,1,1,0,1
14,14.0,0,0,7.8542,0,1,0,0,1
15,55.0,0,0,16.0000,1,0,0,0,1

In [29]:
data = features_dummies.values

In [30]:
import numpy as np
np.isnan(data).any()

True

With all of the hard data loading work out of the way, evaluating a classifier on this data becomes straightforward. Setting up the simplest possible model, we want to see what the simplest score can be with `DummyClassifier`.

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer


train_data, test_data, train_labels, test_labels = train_test_split(
    data, labels, random_state=0)

imp = Imputer()
imp.fit(train_data)
train_data_finite = imp.transform(train_data)
test_data_finite = imp.transform(test_data)

In [32]:
np.isnan(train_data_finite).any()

False

In [33]:
from sklearn.dummy import DummyClassifier

clf = DummyClassifier('most_frequent')
clf.fit(train_data_finite, train_labels)
print("Prediction accuracy: %f"
      % clf.score(test_data_finite, test_labels))

Prediction accuracy: 0.623318

In [20]:
clf

DummyClassifier(constant=None, random_state=None, strategy='most_frequent')