[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://rpi.analyticsdojo.com)
<center><h1>Introduction to R - Merging and Aggregating Data</h1></center>
<center><h3><a href = 'http://rpi.analyticsdojo.com'>rpi.analyticsdojo.com</a></h3></center>

## Overview
- Merging Dataframes 
- Aggregating Dataframes
- Advanced Functions

## Merging Data Frame with Vector
- Can combine vector with data frame in multiple ways. 
- `data.frame(a,b)` where a & b can be vectors, matrices, or data frames.

In [35]:
#Below is the sample data we will be creating 2 dataframes  
key=(1:10)

#Here we are passing the row names and column names as a list. 
m<- data.frame(matrix(rnorm(40, mean=20, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("a","b","c","d"))))
m2<- data.frame(matrix(rnorm(40, mean=1000, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("e","f","g","h"))))

#This is one way of combining a vector with a dataframe. 
df<-  data.frame(key,m)
df2<- data.frame(key,m2)

#This is another way way of combining a vector with a dataframe. 
dfb<-  cbind(key,m)
df2b<- cbind(key,m2)

df
df2
dfb
df2b

   key a        b        c        d
1   1  22.17428 22.27690 16.83030 18.46182
2   2  25.51582 21.35801 16.80708 20.29620
3   3  16.50391 25.79214 27.82541 19.18085
4   4  21.28781 17.18891 28.26684 23.01120
5   5  20.57825 20.41421 13.17363 13.14707
6   6  21.00206 12.84406 33.51988 10.76314
7   7  23.13325 33.53937 11.33885 21.30896
8   8  23.98415 20.85713 22.46602 10.86797
9   9  23.91058 15.34947 27.58124 24.09156
10 10  13.19850 19.58898 21.71210 15.88291

   key e         f         g         h
1   1   996.9191  998.9515  990.1274 1007.6398
2   2  1005.0355  992.1944  996.3518  996.0725
3   3  1006.3290 1002.2608  998.5733 1005.5108
4   4   998.4920 1012.2060  993.6884  999.0696
5   5   997.1732  994.0854 1004.8472 1006.0258
6   6   991.5066 1000.2701  997.4226 1005.4554
7   7   998.2376  997.8769  998.5518  999.3780
8   8  1002.5216  999.5186 1004.7630  999.2380
9   9   999.7369  998.1832 1005.9293 1000.1929
10 10  1005.4449  997.6510 1003.0841 1008.2180

   key a        b        c        d
1   1  22.17428 22.27690 16.83030 18.46182
2   2  25.51582 21.35801 16.80708 20.29620
3   3  16.50391 25.79214 27.82541 19.18085
4   4  21.28781 17.18891 28.26684 23.01120
5   5  20.57825 20.41421 13.17363 13.14707
6   6  21.00206 12.84406 33.51988 10.76314
7   7  23.13325 33.53937 11.33885 21.30896
8   8  23.98415 20.85713 22.46602 10.86797
9   9  23.91058 15.34947 27.58124 24.09156
10 10  13.19850 19.58898 21.71210 15.88291

   key e         f         g         h
1   1   996.9191  998.9515  990.1274 1007.6398
2   2  1005.0355  992.1944  996.3518  996.0725
3   3  1006.3290 1002.2608  998.5733 1005.5108
4   4   998.4920 1012.2060  993.6884  999.0696
5   5   997.1732  994.0854 1004.8472 1006.0258
6   6   991.5066 1000.2701  997.4226 1005.4554
7   7   998.2376  997.8769  998.5518  999.3780
8   8  1002.5216  999.5186 1004.7630  999.2380
9   9   999.7369  998.1832 1005.9293 1000.1929
10 10  1005.4449  997.6510 1003.0841 1008.2180

## Merging Columns of Data Frame with another Data Frame
- Can combine data frame in multiple ways. 
- `merge(a,b,by="key")` where a & b are dataframes with the same keys.
- `cbind(a,b)` where a & b are dataframes with the same number of rows.

In [36]:
# This manages the merge by an associated key.
df3 <- merge(df,df2,by="key")
# This just does a "column bind" 
df4<- cbind(df,df2)
df5<- data.frame(df,df2)
df3
df4
df5

   key a        b        c        d        e         f         g
1   1  22.17428 22.27690 16.83030 18.46182  996.9191  998.9515  990.1274
2   2  25.51582 21.35801 16.80708 20.29620 1005.0355  992.1944  996.3518
3   3  16.50391 25.79214 27.82541 19.18085 1006.3290 1002.2608  998.5733
4   4  21.28781 17.18891 28.26684 23.01120  998.4920 1012.2060  993.6884
5   5  20.57825 20.41421 13.17363 13.14707  997.1732  994.0854 1004.8472
6   6  21.00206 12.84406 33.51988 10.76314  991.5066 1000.2701  997.4226
7   7  23.13325 33.53937 11.33885 21.30896  998.2376  997.8769  998.5518
8   8  23.98415 20.85713 22.46602 10.86797 1002.5216  999.5186 1004.7630
9   9  23.91058 15.34947 27.58124 24.09156  999.7369  998.1832 1005.9293
10 10  13.19850 19.58898 21.71210 15.88291 1005.4449  997.6510 1003.0841
   h
1  1007.6398
2   996.0725
3  1005.5108
4   999.0696
5  1006.0258
6  1005.4554
7   999.3780
8   999.2380
9  1000.1929
10 1008.2180

   key a        b        c        d        key e         f         g
1   1  22.17428 22.27690 16.83030 18.46182  1   996.9191  998.9515  990.1274
2   2  25.51582 21.35801 16.80708 20.29620  2  1005.0355  992.1944  996.3518
3   3  16.50391 25.79214 27.82541 19.18085  3  1006.3290 1002.2608  998.5733
4   4  21.28781 17.18891 28.26684 23.01120  4   998.4920 1012.2060  993.6884
5   5  20.57825 20.41421 13.17363 13.14707  5   997.1732  994.0854 1004.8472
6   6  21.00206 12.84406 33.51988 10.76314  6   991.5066 1000.2701  997.4226
7   7  23.13325 33.53937 11.33885 21.30896  7   998.2376  997.8769  998.5518
8   8  23.98415 20.85713 22.46602 10.86797  8  1002.5216  999.5186 1004.7630
9   9  23.91058 15.34947 27.58124 24.09156  9   999.7369  998.1832 1005.9293
10 10  13.19850 19.58898 21.71210 15.88291 10  1005.4449  997.6510 1003.0841
   h
1  1007.6398
2   996.0725
3  1005.5108
4   999.0696
5  1006.0258
6  1005.4554
7   999.3780
8   999.2380
9  1000.1929
10 1008.2180

   key a        b        c        d        key.1 e         f         g
1   1  22.17428 22.27690 16.83030 18.46182  1     996.9191  998.9515  990.1274
2   2  25.51582 21.35801 16.80708 20.29620  2    1005.0355  992.1944  996.3518
3   3  16.50391 25.79214 27.82541 19.18085  3    1006.3290 1002.2608  998.5733
4   4  21.28781 17.18891 28.26684 23.01120  4     998.4920 1012.2060  993.6884
5   5  20.57825 20.41421 13.17363 13.14707  5     997.1732  994.0854 1004.8472
6   6  21.00206 12.84406 33.51988 10.76314  6     991.5066 1000.2701  997.4226
7   7  23.13325 33.53937 11.33885 21.30896  7     998.2376  997.8769  998.5518
8   8  23.98415 20.85713 22.46602 10.86797  8    1002.5216  999.5186 1004.7630
9   9  23.91058 15.34947 27.58124 24.09156  9     999.7369  998.1832 1005.9293
10 10  13.19850 19.58898 21.71210 15.88291 10    1005.4449  997.6510 1003.0841
   h
1  1007.6398
2   996.0725
3  1005.5108
4   999.0696
5  1006.0258
6  1005.4554
7   999.3780
8   999.2380
9  1000.1929
10 1008.2180

## Merging Rows of Data Frame with another Data Frame
- `rbind(a,b)` combines rows of data frames of a and b.
- `rbind(a,b, make.row.names=FALSE)` this will reset the index.

In [37]:
#Here we can combine rows with rbind. 
df5<-df
#The make Row
df6<-rbind(df,df5)
df6
df7<-rbind(df,df5, make.row.names=FALSE)
df7

    key a        b        c        d
1    1  22.17428 22.27690 16.83030 18.46182
2    2  25.51582 21.35801 16.80708 20.29620
3    3  16.50391 25.79214 27.82541 19.18085
4    4  21.28781 17.18891 28.26684 23.01120
5    5  20.57825 20.41421 13.17363 13.14707
6    6  21.00206 12.84406 33.51988 10.76314
7    7  23.13325 33.53937 11.33885 21.30896
8    8  23.98415 20.85713 22.46602 10.86797
9    9  23.91058 15.34947 27.58124 24.09156
10  10  13.19850 19.58898 21.71210 15.88291
11   1  22.17428 22.27690 16.83030 18.46182
21   2  25.51582 21.35801 16.80708 20.29620
31   3  16.50391 25.79214 27.82541 19.18085
41   4  21.28781 17.18891 28.26684 23.01120
51   5  20.57825 20.41421 13.17363 13.14707
61   6  21.00206 12.84406 33.51988 10.76314
71   7  23.13325 33.53937 11.33885 21.30896
81   8  23.98415 20.85713 22.46602 10.86797
91   9  23.91058 15.34947 27.58124 24.09156
101 10  13.19850 19.58898 21.71210 15.88291

   key a        b        c        d
1   1  22.17428 22.27690 16.83030 18.46182
2   2  25.51582 21.35801 16.80708 20.29620
3   3  16.50391 25.79214 27.82541 19.18085
4   4  21.28781 17.18891 28.26684 23.01120
5   5  20.57825 20.41421 13.17363 13.14707
6   6  21.00206 12.84406 33.51988 10.76314
7   7  23.13325 33.53937 11.33885 21.30896
8   8  23.98415 20.85713 22.46602 10.86797
9   9  23.91058 15.34947 27.58124 24.09156
10 10  13.19850 19.58898 21.71210 15.88291
11  1  22.17428 22.27690 16.83030 18.46182
12  2  25.51582 21.35801 16.80708 20.29620
13  3  16.50391 25.79214 27.82541 19.18085
14  4  21.28781 17.18891 28.26684 23.01120
15  5  20.57825 20.41421 13.17363 13.14707
16  6  21.00206 12.84406 33.51988 10.76314
17  7  23.13325 33.53937 11.33885 21.30896
18  8  23.98415 20.85713 22.46602 10.86797
19  9  23.91058 15.34947 27.58124 24.09156
20 10  13.19850 19.58898 21.71210 15.88291

## `aggregate` and `by`
- Aggregation is a very important function.
- Can have variables/analyses that happen at different levels.
- `by(x, by, FUN)` provides similar functionality.

In [1]:
iris=read.csv(file="../input/iris.csv", header=TRUE,sep=",")
head(iris)

  sepal_length sepal_width petal_length petal_width species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [39]:
iris<-read.csv(file="../input/iris.csv", header=TRUE,sep=",")

#Aggregate by Species  aggregate(x, by, FUN, ...)
iris.agg<-aggregate(iris[,1:4], by=list("species" = iris$species), mean)
print(iris.agg)

#Notice this gives us the same output but structured differently. 
by(iris[, 1:4], iris$species, colMeans)

     species sepal_length sepal_width petal_length petal_width
1     setosa        5.006       3.418        1.464       0.244
2 versicolor        5.936       2.770        4.260       1.326
3  virginica        6.588       2.974        5.552       2.026

iris$species: setosa
sepal_length  sepal_width petal_length  petal_width
       5.006        3.418        1.464        0.244
------------------------------------------------------------
iris$species: versicolor
sepal_length  sepal_width petal_length  petal_width
       5.936        2.770        4.260        1.326
------------------------------------------------------------
iris$species: virginica
sepal_length  sepal_width petal_length  petal_width
       6.588        2.974        5.552        2.026

## `apply`(plus `lapply`/`sapply`/`tapply`/`rapply`)
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**. 
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `tapply` - Apply a function to **subsets of a vector** (and the subsets are defined by some other vector, usually a factor), return a **vector**. 
- `rapply` - Apply a function to **each element of a nested list structure, recursively,** return a list.
- Some functions aren't vectorized, or you may want to use a function on every row or column of a matrix/data frame, every element of a list, etc.
- For more info see this [tutorial](https://nsaunders.wordpress.com/2010/08/20/a-brief-introduction-to-apply-in-r/)

## `apply`
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- If you are using a data frame the data types must all be the same. 
- `apply(X, MARGIN, FUN, ...) where X is an array or matrix. 
- `MARGIN` is a vector giving the where function should be applied. E.g., for a matrix 1 indicates rows, 2 indicates columns, c(1, 2) indicates rows and columns.
- `FUN` is any function.

In [40]:
iris<-read.csv(file="../input/iris.csv", header=TRUE,sep=",")
iris$sum<-apply(iris[1:4], 1, sum) #This provides a sum across  for each row. 
iris$mean<-apply(iris[1:4], 1, mean)#This provides a mean across collumns for each row. 
head(iris)
apply(iris[1:4], 2, mean)

  sepal_length sepal_width petal_length petal_width species sum  mean
1 5.1          3.5         1.4          0.2         setosa  10.2 2.550
2 4.9          3.0         1.4          0.2         setosa   9.5 2.375
3 4.7          3.2         1.3          0.2         setosa   9.4 2.350
4 4.6          3.1         1.5          0.2         setosa   9.4 2.350
5 5.0          3.6         1.4          0.2         setosa  10.2 2.550
6 5.4          3.9         1.7          0.4         setosa  11.4 2.850

sepal_length  sepal_width petal_length  petal_width
    5.843333     3.054000     3.758667     1.198667

## `lapply` & `sapply`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**.
- `lapply(X, FUN, ...)`
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `sapply(X, FUN, ...)`

In [41]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-lapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"]))

[1] "list"

$count
[1] 15

$numbers
[1] 45

$numbers
[1] 45

$count
[1] 15

In [42]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-sapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"],sample.sum[["count"]]))

#Note the differenece between #sample.sum[["count"]] and sample.sum["count"]

[1] "integer"

  count numbers numbers   count
     15      45      45      15      15

In [43]:
# We can also utilize simple 
square<-function(x) x^2
square(1:5)

# We can use our own function here.     
sapply(1:10, square)

#We can also specify the function directly in sapply.
sapply(1:10, function(x) x^2)

[1]  1  4  9 16 25

 [1]   1   4   9  16  25  36  49  64  81 100

 [1]   1   4   9  16  25  36  49  64  81 100

## `tapply` 
- `tapply` - Apply a function to subsets of a vector (and the subsets are defined by some other vector, usually a factor), return a vector.
- Can do something similar to aggregate.

In [44]:
#Tapply example
#tapply(X, INDEX, FUN, …) 
#X = a vector, INDEX = list of one or more factor, FUN = Function or operation that needs to be applied. 
iris<-read.csv(file="../input/iris.csv", header=TRUE,sep=",")
iris.sepal_length.agg<-tapply(iris$sepal_length, iris$species, mean)
print(iris.sepal_length.agg)

    setosa versicolor  virginica
     5.006      5.936      6.588

## CREDITS


Copyright [AnalyticsDojo](http://rpi.analyticsdojo.com) 2016.
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.
This work is adopted from the Berkley R Bootcamp.